/* styles.css */

* {
	font-family: Arial;
}
body {
	font-family: "Helevitica", "Arial", sans-serif;
    background-color: #87ceeb;
	text-align: center;
}
.container {
	background: #fffd37;
	padding: 25px;
	border-radius: 12px;
	width: 400px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h2 {
	font-size: 18px;
	margin-bottom: 20px;
}
button {
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
}
.true {
	background: #228b22;
	color: black;
}
.false {
	background: #c32148;
	color: black;
}
button:hover {
	color: plum;
}
.result {
	margin-top: 15px;
	font-weight: bold;
}
